<% view = AdminSessionsView::New.new(@admin_session) %>

<div id="main-container" class="container">
     <div class="row">
       <div id="sidebar" class="col-xs-3">
         <!-- sidebar content -->
       </div>
       <div id="content" class="col-xs-9">
         <!--  main content -->
       </div>
     </div>
</div>

<div class="center-form">
  <h1>Sign In</h1>

  <%= form_for(@admin_session, url: sign_in_path) do |f| %>
    <div class="form-group <%= "has-error" if view.errors_on?(:email) %>">
      <%= f.label :email, class: "control-label" %>
      <%= f.email_field :email, placeholder: "Email Address", class: "form-control" %>
      <% if view.errors_on?(:email) %>
        <div class="help-block">
          Email <%= view.error_message_for(:email) %>
        </div>
      <% end %>
    </div>

    <div class="form-group <%= "has-error" if view.errors_on?(:password) %>">
      <%= f.label :password, class: "control-label" %>
      <%= f.password_field :password, placeholder: "Password", class: "form-control" %>
      <% if view.errors_on?(:password) %>
        <div class="help-block">
          Password <%= view.error_message_for(:password) %>
        </div>
      <% end %>
    </div>

    <div class="form-group">
      <%= f.submit "Sign In", class: "btn btn-default" %>
      <span class="btn-aside pull-right">
        Don't have an account? <%= link_to "Sign Up", register_path %>
      </span>
    </div>
  <% end %>
</div>
